@charset "UTF-8";

@font-face {
    font-family: "Klavika";
    src: url("./Klavika.otf");
}

@font-face {
    font-family: "Klavika Black";
    src: url("./KlavikaDisplay-Black.otf");
}


@font-face {
    font-family: Chialab;
    src: url('./diismono_chialab-medium.otf');
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-family: 'Klavika';
}

body {
    margin: 0;
    padding: 0 1em;
    display: flex;
}

p {
    margin: 0;
    padding: 0;
}

.instructions {
    font-size: 1.5em;
    margin-top: 1em;
}

.title {
    font-family: 'Klavika Black';
    font-size: 1.85em;
    text-transform: uppercase;
    color: #E6007E;
    margin-bottom: 0.5em;
    line-height: 0.83;
}

.column-left, .column-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 1em;
}

.column-left {
    justify-content: space-between;
}

.column-right {
    align-items: center;
}

.column-right a {
    user-select: none;
    width: auto;
    height: 20%;
}

.column-right img {
    height: 100%;
}

.bcbf-logo {
    width: 5em;
    margin-bottom: 0.5em;
}

.bcbf-logo img {
    width: 100%;
}

.chialab-logo {
    font-family: "Chialab", Monospace;
    font-size: 0.75em;
    margin-bottom: 1em;
}

.fish {
    color: #E08330;
}

.activate-ar {
    background-color: transparent;
    z-index: 99999;
    width: 100%;
    height: 100%;
    border: none;
}

model-viewer {
    --progress-bar-color: transparent;
    width: 100%;
    outline: none;
}

.fallback {
    margin-top: 1em;
    visibility: hidden;
    font-size: 1.25em;
}

.fallback .first {
    margin-top: 1em;
}

.fallback p {
    margin: 0;
    padding: 0;
}

model-viewer {
  width: 100%;
  height: 90%;
  background-color: #ffffff;
}


.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  background-image: url(ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:#4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}
